{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "localMysql": {
    "host": "localhost",
    "port": 3306,
    "url": "mysql://root:root@localhost/trees",
    "database": "trees",
    "password": "root",
    "name": "localMysql",
    "user": "root",
    "connector": "mysql"
  },
  "files": {
      "name": "files",
      "connector": "loopback-component-storage",
      "provider": "filesystem",
      "root": "FILL_THIS_ABS_PATH"
  }
}
